In [4]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from scipy.stats import zscore
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import MultinomialNB
import warnings
warnings.filterwarnings('ignore')
from sklearn import datasets

# Classification- with label as region

In [5]:
d=pd.read_csv('avacado.csv')
d

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18244,7,2018-02-04,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.0,organic,2018,WestTexNewMexico
18245,8,2018-01-28,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,organic,2018,WestTexNewMexico
18246,9,2018-01-21,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico
18247,10,2018-01-14,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico
18248,11,2018-01-07,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico

In [6]:
df=pd.DataFrame(d)
df

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18244,7,2018-02-04,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.0,organic,2018,WestTexNewMexico
18245,8,2018-01-28,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,organic,2018,WestTexNewMexico
18246,9,2018-01-21,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico
18247,10,2018-01-14,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico
18248,11,2018-01-07,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico

In [7]:
df.isnull().sum()

Unnamed: 0      0
Date            0
AveragePrice    0
Total Volume    0
4046            0
4225            0
4770            0
Total Bags      0
Small Bags      0
Large Bags      0
XLarge Bags     0
type            0
year            0
region          0
dtype: int64

In [8]:
df.dtypes

Unnamed: 0        int64
Date             object
AveragePrice    float64
Total Volume    float64
4046            float64
4225            float64
4770            float64
Total Bags      float64
Small Bags      float64
Large Bags      float64
XLarge Bags     float64
type             object
year              int64
region           object
dtype: object

In [9]:
dfcor=df.corr()
dfcor

,Unnamed: 0,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,year
Unnamed: 0,1.000000,-0.133008,0.014035,0.017628,0.019829,0.041752,-0.002219,0.000347,-0.009196,-0.011546,-0.171667
AveragePrice,-0.133008,1.000000,-0.192752,-0.208317,-0.172928,-0.179446,-0.177088,-0.174730,-0.172940,-0.117592,0.093197
Total Volume,0.014035,-0.192752,1.000000,0.977863,0.974181,0.872202,0.963047,0.967238,0.880640,0.747157,0.017193
4046,0.017628,-0.208317,0.977863,1.000000,0.926110,0.833389,0.920057,0.925280,0.838645,0.699377,0.003353
4225,0.019829,-0.172928,0.974181,0.926110,1.000000,0.887855,0.905787,0.916031,0.810015,0.688809,-0.009559
4770,0.041752,-0.179446,0.872202,0.833389,0.887855,1.000000,0.792314,0.802733,0.698471,0.679861,-0.036531
Total Bags,-0.002219,-0.177088,0.963047,0.920057,0.905787,0.792314,1.000000,0.994335,0.943009,0.804233,0.071552
Small Bags,0.000347,-0.174730,0.967238,0.925280,0.916031,0.802733,0.994335,1.000000,0.902589,0.806845,0.063915
Large Bags,-0.009196,-0.172940,0.880640,0.838645,0.810015,0.698471,0.943009,0.902589,1.000000,0.710858,0.087891
XLarge Bags,-0.011546,-0.117592,0.747157,0.699377,0.688809,0.679861,0.804233,0.806845,0.710858,1.000000,0.081033
year,-0.171667,0.093197,0.017193,0.003353,-0.009559,-0.036531,0.071552,0.063915,0.087891,0.081033,1.000000

In [10]:
df.describe()

,Unnamed: 0,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,year
count,18249.000000,18249.000000,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,18249.000000,18249.000000
mean,24.232232,1.405978,8.506440e+05,2.930084e+05,2.951546e+05,2.283974e+04,2.396392e+05,1.821947e+05,5.433809e+04,3106.426507,2016.147899
std,15.481045,0.402677,3.453545e+06,1.264989e+06,1.204120e+06,1.074641e+05,9.862424e+05,7.461785e+05,2.439660e+05,17692.894652,0.939938
min,0.000000,0.440000,8.456000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,2015.000000
25%,10.000000,1.100000,1.083858e+04,8.540700e+02,3.008780e+03,0.000000e+00,5.088640e+03,2.849420e+03,1.274700e+02,0.000000,2015.000000
50%,24.000000,1.370000,1.073768e+05,8.645300e+03,2.906102e+04,1.849900e+02,3.974383e+04,2.636282e+04,2.647710e+03,0.000000,2016.000000
75%,38.000000,1.660000,4.329623e+05,1.110202e+05,1.502069e+05,6.243420e+03,1.107834e+05,8.333767e+04,2.202925e+04,132.500000,2017.000000
max,52.000000,3.250000,6.250565e+07,2.274362e+07,2.047057e+07,2.546439e+06,1.937313e+07,1.338459e+07,5.719097e+06,551693.650000,2018.000000

In [11]:
df.skew()

Unnamed: 0       0.108334
AveragePrice     0.580303
Total Volume     9.007687
4046             8.648220
4225             8.942466
4770            10.159396
Total Bags       9.756072
Small Bags       9.540660
Large Bags       9.796455
XLarge Bags     13.139751
year             0.215339
dtype: float64

In [12]:
df.columns

Index(['Unnamed: 0', 'Date', 'AveragePrice', 'Total Volume', '4046', '4225',
       '4770', 'Total Bags', 'Small Bags', 'Large Bags', 'XLarge Bags', 'type',
       'year', 'region'],
      dtype='object')

In [13]:
df.drop('Date',inplace=True,axis=1)
df.columns

Index(['Unnamed: 0', 'AveragePrice', 'Total Volume', '4046', '4225', '4770',
       'Total Bags', 'Small Bags', 'Large Bags', 'XLarge Bags', 'type', 'year',
       'region'],
      dtype='object')

In [14]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['type']=le.fit_transform(df['type'])
df['region']=le.fit_transform(df['region'])
df

,Unnamed: 0,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,0,2015,0
1,1,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,0,2015,0
2,2,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,0,2015,0
3,3,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,0,2015,0
4,4,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,0,2015,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18244,7,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.0,1,2018,53
18245,8,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,1,2018,53
18246,9,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,1,2018,53
18247,10,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,1,2018,53
18248,11,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,1,2018,53

In [15]:
for col in df.columns:
    if df.skew().loc[col]>0.55:
        df[col]=np.log1p(df[col])

In [16]:
df.skew()

Unnamed: 0      0.108334
AveragePrice    0.138629
Total Volume    0.088098
4046           -0.328195
4225           -0.486654
4770            0.099986
Total Bags     -0.218874
Small Bags     -0.622148
Large Bags     -0.547765
XLarge Bags     1.176494
type            0.000329
year            0.215339
region          0.000030
dtype: float64

In [17]:
from scipy.stats import zscore
z=np.abs(zscore(df))
df_new=df[(z<3).all(axis=1)]
df_new

,Unnamed: 0,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,0.845868,11.070344,6.944801,10.905146,3.895080,9.070833,9.060055,4.545951,0.0,0,2015,0
1,1,0.854415,10.912867,6.515127,10.706381,4.083115,9.159737,9.149429,4.589955,0.0,0,2015,0
2,2,0.657520,11.680313,6.679222,11.600485,4.879007,9.005325,8.992584,4.645736,0.0,0,2015,0
3,3,0.732368,11.277116,7.032624,11.184108,4.298373,8.667708,8.644425,4.903495,0.0,0,2015,0
4,4,0.824175,10.840377,6.848515,10.688288,4.340944,8.729874,8.697389,5.291746,0.0,0,2015,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18244,7,0.966984,9.745419,7.624599,7.333154,0.000000,9.510421,9.477908,6.070391,0.0,1,2018,53
18245,8,0.996949,9.538855,7.083975,8.141044,0.000000,9.134090,9.098407,5.786284,0.0,1,2018,53
18246,9,1.054312,9.530085,7.084159,7.805389,6.591591,9.147945,9.143431,3.768384,0.0,1,2018,53
18247,10,1.075002,9.693150,7.332127,8.000363,6.590315,9.302969,9.298401,3.931826,0.0,1,2018,53
18248,11,0.963174,9.769418,7.971006,7.765200,5.418453,9.393924,9.391757,3.296207,0.0,1,2018,53

In [18]:
x=df_new.iloc[:,:-1]
print(x)

       Unnamed: 0  AveragePrice  Total Volume      4046       4225      4770  \
0               0      0.845868     11.070344  6.944801  10.905146  3.895080
1               1      0.854415     10.912867  6.515127  10.706381  4.083115
2               2      0.657520     11.680313  6.679222  11.600485  4.879007
3               3      0.732368     11.277116  7.032624  11.184108  4.298373
4               4      0.824175     10.840377  6.848515  10.688288  4.340944
...           ...           ...           ...       ...        ...       ...
18244           7      0.966984      9.745419  7.624599   7.333154  0.000000
18245           8      0.996949      9.538855  7.083975   8.141044  0.000000
18246           9      1.054312      9.530085  7.084159   7.805389  6.591591
18247          10      1.075002      9.693150  7.332127   8.000363  6.590315
18248          11      0.963174      9.769418  7.971006   7.765200  5.418453

       Total Bags  Small Bags  Large Bags  XLarge Bags  type  year
0        9.070833    9.060055    4.545951          0.0     0  2015
1        9.159737    9.149429    4.589955          0.0     0  2015
2        9.005325    8.992584    4.645736          0.0     0  2015
3        8.667708    8.644425    4.903495          0.0     0  2015
4        8.729874    8.697389    5.291746          0.0     0  2015
...           ...         ...         ...          ...   ...   ...
18244    9.510421    9.477908    6.070391          0.0     1  2018
18245    9.134090    9.098407    5.786284          0.0     1  2018
18246    9.147945    9.143431    3.768384          0.0     1  2018
18247    9.302969    9.298401    3.931826          0.0     1  2018
18248    9.393924    9.391757    3.296207          0.0     1  2018

[17928 rows x 12 columns]

In [19]:
y=df_new.iloc[:,-1]
y

0         0
1         0
2         0
3         0
4         0
         ..
18244    53
18245    53
18246    53
18247    53
18248    53
Name: region, Length: 17928, dtype: int32

In [20]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.22,random_state=42)

In [21]:
model=MultinomialNB(),SVC(),DecisionTreeClassifier()
for m in model:
    m.fit(x_train,y_train)
    m.score(x_train,y_train)
    predm=m.predict(x_test)
    print('Accuracy score of',m,'is:')
    print(accuracy_score(y_test,predm))
    print(confusion_matrix(y_test,predm))
    print(classification_report(y_test,predm))
    print('\n')

Accuracy score of MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True) is:
0.03751584283903676
[[ 0  0  0 ...  0  0  0]
 [ 1  0  0 ...  0  0  7]
 [ 0  0  1 ...  1  0  0]
 ...
 [ 0  0  0 ... 32  6  0]
 [ 0  0  0 ... 45  0  4]
 [ 4  0  0 ...  8  8  4]]
              precision    recall  f1-score   support

           0       0.00      0.00      0.00        84
           1       0.00      0.00      0.00        62
           2       0.03      0.01      0.02        82
           3       0.00      0.00      0.00        72
           4       0.00      0.00      0.00        74
           5       0.01      0.01      0.01        77
           6       0.00      0.00      0.00        81
           7       0.06      0.09      0.07        68
           8       0.00      0.00      0.00        74
           9       0.00      0.00      0.00        82
          10       0.00      0.00      0.00        82
          11       0.00      0.00      0.00        79
          12       0.07      0.32      0.12        88
          13       0.00      0.00      0.00        68
          14       0.00      0.00      0.00        84
          15       0.00      0.00      0.00        74
          16       0.00      0.00      0.00        69
          17       0.00      0.00      0.00        81
          18       0.00      0.00      0.00        79
          19       0.00      0.00      0.00        76
          20       0.00      0.00      0.00        66
          21       0.00      0.00      0.00        77
          22       0.00      0.00      0.00        74
          23       0.00      0.00      0.00        82
          24       0.00      0.00      0.00        75
          25       0.01      0.02      0.01        64
          26       0.00      0.00      0.00        67
          27       0.00      0.00      0.00        61
          28       0.00      0.00      0.00        78
          29       0.36      0.12      0.19        72
          30       0.06      0.05      0.05        80
          31       0.02      0.03      0.02        71
          32       0.00      0.00      0.00        64
          33       0.00      0.00      0.00        64
          34       0.00      0.00      0.00        58
          35       0.00      0.00      0.00        84
          36       0.00      0.00      0.00        72
          37       0.13      0.27      0.18        75
          38       0.00      0.00      0.00        80
          39       0.01      0.03      0.02        66
          40       0.09      0.11      0.10        75
          41       0.00      0.00      0.00        89
          42       0.00      0.00      0.00        67
          43       0.00      0.00      0.00        57
          44       0.00      0.00      0.00        72
          45       0.00      0.00      0.00        75
          46       0.00      0.00      0.00        62
          47       0.00      0.00      0.00        54
          48       0.00      0.00      0.00        69
          49       0.04      0.45      0.08        66
          50       0.00      0.00      0.00        75
          51       0.08      0.47      0.14        68
          52       0.00      0.00      0.00        74
          53       0.05      0.05      0.05        76

    accuracy                           0.04      3945
   macro avg       0.02      0.04      0.02      3945
weighted avg       0.02      0.04      0.02      3945



Accuracy score of SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='rbf', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False) is:
0.7632446134347275
[[69  0  0 ...  0  0  0]
 [ 0 36  0 ...  0  0  0]
 [ 0  0 67 ...  0  0  0]
 ...
 [ 0  0  0 ... 68  0  0]
 [ 0  0  0 ...  0 70  0]
 [ 0  0  2 ...  0  0 46]]
              precision    recall  f1-score   support

           0       0.81      0.82      0.82        84
           1       0.55      0.58      0.57        62
           2       0.89      0.82      0.85        82
           3       0.71      0.67      0.69        72
           4       0.88      0.77      0.82        74
           5       0.73      0.69      0.71        77
           6       0.86      0.91      0.89        81
           7       0.76      0.79      0.78        68
           8       0.96      0.92      0.94        74
           9       0.59      0.70      0.64        82
          10       0.66      0.60      0.63        82
          11       0.83      0.86      0.84        79
          12       0.88      0.91      0.89        88
          13       0.53      0.47      0.50        68
          14       0.83      0.85      0.84        84
          15       0.92      0.91      0.91        74
          16       0.87      0.90      0.89        69
          17       0.86      0.80      0.83        81
          18       0.72      0.78      0.75        79
          19       0.81      0.74      0.77        76
          20       0.90      0.83      0.87        66
          21       0.58      0.55      0.56        77
          22       0.95      0.85      0.90        74
          23       0.80      0.80      0.80        82
          24       0.47      0.44      0.46        75
          25       0.83      0.98      0.90        64
          26       0.53      0.54      0.53        67
          27       0.75      0.70      0.73        61
          28       0.96      0.87      0.91        78
          29       0.96      0.93      0.94        72
          30       0.91      0.88      0.89        80
          31       0.29      0.30      0.29        71
          32       0.81      0.91      0.85        64
          33       0.59      0.67      0.63        64
          34       0.77      0.84      0.80        58
          35       0.86      0.82      0.84        84
          36       0.72      0.83      0.77        72
          37       0.71      0.69      0.70        75
          38       0.68      0.64      0.66        80
          39       0.66      0.79      0.72        66
          40       0.77      0.84      0.80        75
          41       0.82      0.57      0.68        89
          42       0.84      0.96      0.90        67
          43       0.80      0.70      0.75        57
          44       0.66      0.75      0.70        72
          45       0.96      0.87      0.91        75
          46       0.82      0.94      0.87        62
          47       0.79      0.78      0.79        54
          48       0.78      0.77      0.77        69
          49       0.71      0.79      0.75        66
          50       0.34      0.39      0.36        75
          51       0.97      1.00      0.99        68
          52       0.97      0.95      0.96        74
          53       0.71      0.61      0.65        76

    accuracy                           0.76      3945
   macro avg       0.76      0.76      0.76      3945
weighted avg       0.77      0.76      0.76      3945



Accuracy score of DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best') is:
0.7992395437262357
[[64  0  0 ...  0  0  0]
 [ 0 38  0 ...  0  0  1]
 [ 0  0 74 ...  0  0  0]
 ...
 [ 0  0  0 ... 68  0  0]
 [ 0  0  0 ...  0 65  0]
 [ 0  1  3 ...  0  0 55]]
              precision    recall  f1-score   support

           0       0.83      0.76      0.80        84
           1       0.60      0.61      0.61        62
           2       0.95      0.90      0.92        82
           3       0.85      0.85      0.85        72
           4       0.79      0.88      0.83        74
           5       0.79      0.68      0.73        77
           6       0.94      0.96      0.95        81
           7       0.92      0.88      0.90        68
           8       0.91      0.82      0.87        74
           9       0.77      0.79      0.78        82
          10       0.65      0.62      0.64        82
          11       0.90      0.90      0.90        79
          12       0.86      0.83      0.84        88
          13       0.68      0.78      0.73        68
          14       0.88      0.79      0.83        84
          15       0.95      0.93      0.94        74
          16       0.92      0.96      0.94        69
          17       0.87      0.80      0.83        81
          18       0.85      0.84      0.84        79
          19       0.71      0.72      0.72        76
          20       0.80      0.77      0.78        66
          21       0.64      0.60      0.62        77
          22       0.97      0.93      0.95        74
          23       0.80      0.79      0.80        82
          24       0.60      0.57      0.59        75
          25       0.83      0.92      0.87        64
          26       0.55      0.61      0.58        67
          27       0.75      0.66      0.70        61
          28       0.86      0.83      0.84        78
          29       0.92      0.85      0.88        72
          30       0.89      0.88      0.88        80
          31       0.56      0.70      0.62        71
          32       0.77      0.89      0.83        64
          33       0.79      0.84      0.82        64
          34       0.77      0.88      0.82        58
          35       0.86      0.86      0.86        84
          36       0.73      0.75      0.74        72
          37       0.86      0.80      0.83        75
          38       0.78      0.72      0.75        80
          39       0.75      0.83      0.79        66
          40       0.88      0.84      0.86        75
          41       0.81      0.76      0.79        89
          42       0.85      0.91      0.88        67
          43       0.77      0.81      0.79        57
          44       0.69      0.78      0.73        72
          45       0.90      0.95      0.92        75
          46       0.89      0.92      0.90        62
          47       0.73      0.76      0.75        54
          48       0.70      0.71      0.71        69
          49       0.65      0.80      0.72        66
          50       0.43      0.35      0.39        75
          51       1.00      1.00      1.00        68
          52       0.93      0.88      0.90        74
          53       0.79      0.72      0.75        76

    accuracy                           0.80      3945
   macro avg       0.80      0.80      0.80      3945
weighted avg       0.80      0.80      0.80      3945

In [22]:
from sklearn.model_selection import cross_val_score
dt=DecisionTreeClassifier()
dtc=dt.fit(x_train,y_train)
print(dtc.score(x_train,y_train))

print('Mean cross_val_score is=',cross_val_score(dt,x,y,cv=10).mean())
print('STD cross_val_score is=',cross_val_score(dt,x,y,cv=10).std())

1.0
Mean cross_val_score is= 0.629594868937074
STD cross_val_score is= 0.06455947128575046


# Regression-with label as avg price

In [23]:
x=df_new.iloc[:,2:]
x

,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,11.070344,6.944801,10.905146,3.895080,9.070833,9.060055,4.545951,0.0,0,2015,0
1,10.912867,6.515127,10.706381,4.083115,9.159737,9.149429,4.589955,0.0,0,2015,0
2,11.680313,6.679222,11.600485,4.879007,9.005325,8.992584,4.645736,0.0,0,2015,0
3,11.277116,7.032624,11.184108,4.298373,8.667708,8.644425,4.903495,0.0,0,2015,0
4,10.840377,6.848515,10.688288,4.340944,8.729874,8.697389,5.291746,0.0,0,2015,0
...,...,...,...,...,...,...,...,...,...,...,...
18244,9.745419,7.624599,7.333154,0.000000,9.510421,9.477908,6.070391,0.0,1,2018,53
18245,9.538855,7.083975,8.141044,0.000000,9.134090,9.098407,5.786284,0.0,1,2018,53
18246,9.530085,7.084159,7.805389,6.591591,9.147945,9.143431,3.768384,0.0,1,2018,53
18247,9.693150,7.332127,8.000363,6.590315,9.302969,9.298401,3.931826,0.0,1,2018,53
18248,9.769418,7.971006,7.765200,5.418453,9.393924,9.391757,3.296207,0.0,1,2018,53

In [24]:
y=df_new.iloc[:,1]
y

0        0.845868
1        0.854415
2        0.657520
3        0.732368
4        0.824175
           ...
18244    0.966984
18245    0.996949
18246    1.054312
18247    1.075002
18248    0.963174
Name: AveragePrice, Length: 17928, dtype: float64

In [25]:
def maxr2_score(regr,x,y):
    max_r_score=0
    for r_state in range(42,100):
        x_train, x_test,y_train,y_test=train_test_split(x,y,random_state=r_state,test_size=.20)
        regr.fit(x_train,y_train)
        y_pred=regr.predict(x_test)
        r2_scr=r2_score(y_test,y_pred)
        print('r2 score corresponding to ',r_state,'is',r2_scr)
        if r2_scr>max_r_score:
            max_r_score=r2_scr
            final_r_state=r_state
        
    print('max r2_score corresponding to',final_r_state,'is',max_r_score)
    return final_r_state

In [26]:
lreg=LinearRegression()
maxr2_score(lreg,x,y)

r2 score corresponding to  42 is 0.5444546170364707
r2 score corresponding to  43 is 0.5434408659299506
r2 score corresponding to  44 is 0.5399690071424065
r2 score corresponding to  45 is 0.5351363251345285
r2 score corresponding to  46 is 0.5395441718988506
r2 score corresponding to  47 is 0.5353898930648202
r2 score corresponding to  48 is 0.535827044680883
r2 score corresponding to  49 is 0.5369196681792239
r2 score corresponding to  50 is 0.5291423964845756
r2 score corresponding to  51 is 0.5285481190389887
r2 score corresponding to  52 is 0.5370329533601712
r2 score corresponding to  53 is 0.5403658353251035
r2 score corresponding to  54 is 0.5429724090544883
r2 score corresponding to  55 is 0.5319992511201188
r2 score corresponding to  56 is 0.5328025327083334
r2 score corresponding to  57 is 0.5325719925977195
r2 score corresponding to  58 is 0.5426220993478255
r2 score corresponding to  59 is 0.5229747172108461
r2 score corresponding to  60 is 0.5513759331818934
r2 score corresponding to  61 is 0.524330318878041
r2 score corresponding to  62 is 0.5391518859567134
r2 score corresponding to  63 is 0.530653632705002
r2 score corresponding to  64 is 0.531787051926828
r2 score corresponding to  65 is 0.5585809675964342
r2 score corresponding to  66 is 0.5326030361231044
r2 score corresponding to  67 is 0.5515112586115816
r2 score corresponding to  68 is 0.5502382287771913
r2 score corresponding to  69 is 0.5508220492953783
r2 score corresponding to  70 is 0.5457123716027482
r2 score corresponding to  71 is 0.536693059162831
r2 score corresponding to  72 is 0.5326276567771515
r2 score corresponding to  73 is 0.5380877669620804
r2 score corresponding to  74 is 0.5260137569760028
r2 score corresponding to  75 is 0.5491043485047153
r2 score corresponding to  76 is 0.5256614027120005
r2 score corresponding to  77 is 0.5379165226141398
r2 score corresponding to  78 is 0.5570592333916866
r2 score corresponding to  79 is 0.5516863825566084
r2 score corresponding to  80 is 0.5419717140260556
r2 score corresponding to  81 is 0.5558637466769154
r2 score corresponding to  82 is 0.5390387604260267
r2 score corresponding to  83 is 0.5477230236154089
r2 score corresponding to  84 is 0.5366717102656315
r2 score corresponding to  85 is 0.5436064709892597
r2 score corresponding to  86 is 0.5539233082019444
r2 score corresponding to  87 is 0.5366706081580828
r2 score corresponding to  88 is 0.5274262607937482
r2 score corresponding to  89 is 0.5291813984459754
r2 score corresponding to  90 is 0.5420660171811529
r2 score corresponding to  91 is 0.5398531201026449
r2 score corresponding to  92 is 0.5614614400177325
r2 score corresponding to  93 is 0.5413154696623155
r2 score corresponding to  94 is 0.5406361249832758
r2 score corresponding to  95 is 0.52807872968167
r2 score corresponding to  96 is 0.5413452843557807
r2 score corresponding to  97 is 0.5223767887330792
r2 score corresponding to  98 is 0.5252211504637236
r2 score corresponding to  99 is 0.5256717006862127
max r2_score corresponding to 92 is 0.5614614400177325

92

In [27]:
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsRegressor
neighbors={'n_neighbors':range(1,30)}
knr=KNeighborsRegressor()
gknr=GridSearchCV(knr,neighbors,cv=10)
gknr.fit(x,y)
gknr.best_params_

{'n_neighbors': 13}

In [28]:
knr=KNeighborsRegressor(n_neighbors=13)
r_state=maxr2_score(knr,x,y)

r2 score corresponding to  42 is 0.8007611320254505
r2 score corresponding to  43 is 0.7916113399039042
r2 score corresponding to  44 is 0.8007082688923007
r2 score corresponding to  45 is 0.8048585078082978
r2 score corresponding to  46 is 0.7890689820923968
r2 score corresponding to  47 is 0.7943395611202947
r2 score corresponding to  48 is 0.7924886369495879
r2 score corresponding to  49 is 0.7962901438095731
r2 score corresponding to  50 is 0.7891993304006113
r2 score corresponding to  51 is 0.791735595078532
r2 score corresponding to  52 is 0.7884248088952506
r2 score corresponding to  53 is 0.7904756594065825
r2 score corresponding to  54 is 0.7895159469617932
r2 score corresponding to  55 is 0.7842526196423799
r2 score corresponding to  56 is 0.7936427459180718
r2 score corresponding to  57 is 0.7978774560265252
r2 score corresponding to  58 is 0.7982803750230011
r2 score corresponding to  59 is 0.7894777087684677
r2 score corresponding to  60 is 0.8026222694246298
r2 score corresponding to  61 is 0.7975014020404644
r2 score corresponding to  62 is 0.7878071757582185
r2 score corresponding to  63 is 0.800263639826819
r2 score corresponding to  64 is 0.7951211869703356
r2 score corresponding to  65 is 0.8052654393401992
r2 score corresponding to  66 is 0.791372693005375
r2 score corresponding to  67 is 0.8016705035757206
r2 score corresponding to  68 is 0.8023813452332575
r2 score corresponding to  69 is 0.8024516725182125
r2 score corresponding to  70 is 0.7950049539066472
r2 score corresponding to  71 is 0.7964752320115824
r2 score corresponding to  72 is 0.8016572429222768
r2 score corresponding to  73 is 0.789618367507626
r2 score corresponding to  74 is 0.8020065095320619
r2 score corresponding to  75 is 0.8099503464602382
r2 score corresponding to  76 is 0.7909693210052507
r2 score corresponding to  77 is 0.7932508314632929
r2 score corresponding to  78 is 0.8035120810020591
r2 score corresponding to  79 is 0.7997727240297675
r2 score corresponding to  80 is 0.7974079833700458
r2 score corresponding to  81 is 0.8070589781802416
r2 score corresponding to  82 is 0.7959163952209478
r2 score corresponding to  83 is 0.7952244844998086
r2 score corresponding to  84 is 0.790496096873585
r2 score corresponding to  85 is 0.8003693790819848
r2 score corresponding to  86 is 0.7962200699382808
r2 score corresponding to  87 is 0.8072771396715837
r2 score corresponding to  88 is 0.8015888259692074
r2 score corresponding to  89 is 0.7889303113352252
r2 score corresponding to  90 is 0.8004921433674799
r2 score corresponding to  91 is 0.7931715995195006
r2 score corresponding to  92 is 0.8002138209679477
r2 score corresponding to  93 is 0.7953446825405343
r2 score corresponding to  94 is 0.7929523680178311
r2 score corresponding to  95 is 0.7939164587530385
r2 score corresponding to  96 is 0.803611042724053
r2 score corresponding to  97 is 0.783576277400931
r2 score corresponding to  98 is 0.7974761097681384
r2 score corresponding to  99 is 0.786700199616355
max r2_score corresponding to 75 is 0.8099503464602382

In [29]:
from sklearn.linear_model import Lasso
lsreg=Lasso()
parameters={'alpha':[0.001,0.01,0.1,1]}
clf=GridSearchCV(lsreg,parameters,cv=10)
clf.fit(x,y)
clf.best_params_

{'alpha': 0.001}

In [30]:
lsreg=Lasso(alpha=0.001)
r_state=maxr2_score(lsreg,x,y)

r2 score corresponding to  42 is 0.5431739913880073
r2 score corresponding to  43 is 0.5423599593136386
r2 score corresponding to  44 is 0.5395967018701844
r2 score corresponding to  45 is 0.5336269954264774
r2 score corresponding to  46 is 0.5387539497974947
r2 score corresponding to  47 is 0.5344861437161752
r2 score corresponding to  48 is 0.5334515915321556
r2 score corresponding to  49 is 0.5360424044524352
r2 score corresponding to  50 is 0.5282950887988346
r2 score corresponding to  51 is 0.5273899676206103
r2 score corresponding to  52 is 0.5348514920995818
r2 score corresponding to  53 is 0.5383135722773323
r2 score corresponding to  54 is 0.5416927003916754
r2 score corresponding to  55 is 0.5309571528284476
r2 score corresponding to  56 is 0.5330537316351419
r2 score corresponding to  57 is 0.5315554498955024
r2 score corresponding to  58 is 0.5419647563072685
r2 score corresponding to  59 is 0.5230624047260537
r2 score corresponding to  60 is 0.5500884607202928
r2 score corresponding to  61 is 0.5233262825659899
r2 score corresponding to  62 is 0.5374072906923129
r2 score corresponding to  63 is 0.5288273485677885
r2 score corresponding to  64 is 0.5310229386869203
r2 score corresponding to  65 is 0.5573831704421692
r2 score corresponding to  66 is 0.5307384103314714
r2 score corresponding to  67 is 0.55045759922289
r2 score corresponding to  68 is 0.5496859786209961
r2 score corresponding to  69 is 0.5476161163073763
r2 score corresponding to  70 is 0.5445697693301635
r2 score corresponding to  71 is 0.5370793761711212
r2 score corresponding to  72 is 0.5311632716457457
r2 score corresponding to  73 is 0.5372021582058921
r2 score corresponding to  74 is 0.5243976199767766
r2 score corresponding to  75 is 0.5475154042732283
r2 score corresponding to  76 is 0.5249056450641352
r2 score corresponding to  77 is 0.5358304717495139
r2 score corresponding to  78 is 0.5554560788033722
r2 score corresponding to  79 is 0.5507543767075685
r2 score corresponding to  80 is 0.5394972068206609
r2 score corresponding to  81 is 0.5543272047174324
r2 score corresponding to  82 is 0.5376258088048986
r2 score corresponding to  83 is 0.5476491594096986
r2 score corresponding to  84 is 0.5355154190746048
r2 score corresponding to  85 is 0.5430193209407137
r2 score corresponding to  86 is 0.5515733029832045
r2 score corresponding to  87 is 0.5362548346890201
r2 score corresponding to  88 is 0.5258551405715044
r2 score corresponding to  89 is 0.5283841844164847
r2 score corresponding to  90 is 0.5406102654830622
r2 score corresponding to  91 is 0.5377108477569641
r2 score corresponding to  92 is 0.5579581963560551
r2 score corresponding to  93 is 0.5406610999703878
r2 score corresponding to  94 is 0.5394863818594238
r2 score corresponding to  95 is 0.5279082636591097
r2 score corresponding to  96 is 0.539323227253093
r2 score corresponding to  97 is 0.5203657699073082
r2 score corresponding to  98 is 0.5245438423267581
r2 score corresponding to  99 is 0.524759628177019
max r2_score corresponding to 92 is 0.5579581963560551

In [31]:
from sklearn.model_selection import cross_val_score


print ('mean of KNN regressor is',cross_val_score(knr,x,y,cv=5,scoring='r2').mean())
print ('std deviation of the knn regressor is ',cross_val_score(knr,x,y,cv=5,scoring='r2').std())

mean of KNN regressor is 0.08526716612687073
std deviation of the knn regressor is  0.3501214105276888

In [ ]:
from sklearn.externals import joblib
joblib.dump(knr,'Project_8.pkl')